@model IEnumerable<DailyMenuViewModel>

@{
    ViewBag.Title = "Меню";
}
<style> 
.light-blue-element {
  background-color: cyan;
}
.light-blue-element:hover {
  background-color: blue;
  color: wheat;
}

.hoverme{
  background-color: limegreen;
}

.hoverme:hover{
  background-color: lime;
  color: red;
}
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var dailyMenu in Model)
    {
            <div class="card col-4" style="width: 20rem; margin-right: 7px; margin-bottom: 7px; background-color: honeydew">
                <div class="card-body">
                <h5 class="card-title mt-1" style="color: darkgreen">@dailyMenu.Name</h5>
                <p class= "mb-0" style="text-align: left">Супа: @dailyMenu.Soup.Name</p>
                    <p class="mb-0" style="text-align: left">Основно ястие: @dailyMenu.MainDish.Name</p>
                    <p class="mb-0" style="text-align: left">Десерт: @dailyMenu.Dessert.Name</p>
                </div>
            @if (User.IsInRole(Parent))
            {
                <form asp-controller="DailyMenu" asp-action="Delete" asp-route-id="@dailyMenu.Id">
                     <div>
                            <input style="margin-bottom: 10px" type="submit" onclick="myConfirm(event)" value="Премахни" class="btn btn-danger" />
                     </div>
                 </form>
            }
                
            </div>
    }
</div>

@section Scripts {
     <script>
         function myConfirm(e) {
             e.preventDefault();
             Swal.fire({
                 title: 'Сигурни ли сте?',
                 text: "Това е необратим процес!",
                 icon: 'warning',
                 showCancelButton: true,
                 cancelButtonText: 'Отмени',
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Да, премахни!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     Swal.fire(
                         'Премахнато!',
                         'Менюто беше премахнато от вашия списък.',
                         'Изтрито'
                     ).then((resultDeleted) => {
                         e.target.parentElement.parentElement.submit();
                     })
                 }
             })
         }
     </script>
}