@model MealsForParentToChooseViewModel

@{
    ViewBag.Title = Localizer[LayoutTitleName];
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="DailyMenu" asp-action="GetMealsForParentsToChoose" asp-route-childId="@Model.ChildId" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.SchoolId" />
            <div class="mb-3">
                <label asp-for="@Model.DayOfTheWeek" class="form-label">@Localizer[Day]</label>
                <select asp-for="@Model.DayOfTheWeek" class="form-control">
                    <option value="">-- @Localizer[ChooseTheDayOfTheMenu] --</option>
                    @if (!Model.DailyMenus.Any(x => x.Name.Equals(DayOfWeek.Monday)))
                    {
                        <option value="@DayOfWeek.Monday">@Localizer[Monday]</option>
                    }
                    @if (!Model.DailyMenus.Any(x => x.Name.Equals(DayOfWeek.Tuesday)))
                    {
                        <option value="@DayOfWeek.Tuesday">@Localizer[Tuesday]</option>
                    }
                    @if (!Model.DailyMenus.Any(x => x.Name.Equals(DayOfWeek.Wednesday)))
                    {
                        <option value="@DayOfWeek.Wednesday">@Localizer[Wednesday]</option>
                    }
                    @if (!Model.DailyMenus.Any(x => x.Name.Equals(DayOfWeek.Thursday)))
                    {
                        <option value="@DayOfWeek.Thursday">@Localizer[Thursday]</option>
                    }
                    @if (!Model.DailyMenus.Any(x => x.Name.Equals(DayOfWeek.Friday)))
                    {
                        <option value="@DayOfWeek.Friday">@Localizer[Friday]</option>
                    }
                    @if (Model.DailyMenus.Count() == 5)
                    {
                        <option value="">@Localizer[YouHaveChosenAMenuForEveryDay]</option>
                    }
                </select>
                <span asp-validation-for="DayOfTheWeek" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.SoupId" class="form-label">@Localizer[ChooseSoup]</label>
                <select asp-for="@Model.SoupId" class="form-control">
                    <option value="">-- @Localizer[ChooseSoup] --</option>
                    @foreach (Soup soup in Model.Soups)
                    {
                        <option value="@soup.Id">@soup.Name</option>
                    }
                </select>
                <span asp-validation-for="SoupId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.MainDishId" class="form-label">@Localizer[ChooseAMainDish]</label>
                <select asp-for="@Model.MainDishId" class="form-control">
                    <option value="">-- @Localizer[ChooseAMainDish] --</option>
                    @foreach (MainDish mainDish in Model.MainDishes)
                    {
                        <option value="@mainDish.Id">@mainDish.Name</option>
                    }
                </select>
                <span asp-validation-for="MainDishId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DessertsId" class="form-label">@Localizer[ChooseADessert]</label>
                <select asp-for="@Model.DessertsId" class="form-control">
                    <option value="">-- @Localizer[ChooseADessert] --</option>
                    @foreach (Dessert dessert in Model.Desserts)
                    {
                        <option value="@dessert.Id">@dessert.Name</option>
                    }
                </select>
                <span asp-validation-for="DessertsId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-outline-primary" type="submit" value="@Localizer[Add]" />
            </div>
        </form>
        <div class="mb-3">
            <a class="btn btn-outline-success" asp-area="" asp-controller="Meal" asp-action="AllSoups" asp-route-schoolId="@Model.SchoolId">@Localizer[SeeSoups]</a>
            <a class="btn btn-outline-warning" asp-area="" asp-controller="Meal" asp-action="AllMainDishes" asp-route-schoolId="@Model.SchoolId">@Localizer[SeeMainDishes]</a>
            <a class="btn btn-outline-primary" style="background-color: #F0DB35" asp-area="" asp-controller="Meal" asp-action="AllDesserts" asp-route-schoolId="@Model.SchoolId">@Localizer[SeeDesserts]</a>
        </div>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
