@model MealsForParentToChooseViewModel

@{
    ViewBag.Title = "Избери меню за родителите";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="DailyMenu" asp-action="GetMealsForParentsToChoose" asp-route-childId="@Model.ChildId" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.SchoolId" />
            <div class="mb-3">
                <label asp-for="@Model.DayOfTheWeek" class="form-label">Ден</label>
                <select asp-for="@Model.DayOfTheWeek" class="form-control">
                    <option value="">-- Избери денят на менюто --</option>
                     <option value="@DayOfWeek.Monday">Понеделник</option>
                     <option value="@DayOfWeek.Tuesday">Вторник</option>
                     <option value="@DayOfWeek.Wednesday">Сряда</option>
                     <option value="@DayOfWeek.Thursday">Четвъртък</option>
                     <option value="@DayOfWeek.Friday">Петък</option>
                </select>
                <span asp-validation-for="DayOfTheWeek" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.SoupId" class="form-label">Избери супа</label>
                <select asp-for="@Model.SoupId" class="form-control">
                    <option value="">-- Избери супа --</option>
                    @foreach (Soup soup in Model.Soups)
                    {
                        <option value="@soup.Id">@soup.Name</option>
                    }
                </select>
                <span asp-validation-for="SoupId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.MainDishId" class="form-label">Избери ястие</label>
                <select asp-for="@Model.MainDishId" class="form-control">
                    <option value="">-- Избери ястие --</option>
                    @foreach (MainDish mainDish in Model.MainDishes)
                    {
                        <option value="@mainDish.Id">@mainDish.Name</option>
                    }
                </select>
                <span asp-validation-for="MainDishId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DessertsId" class="form-label">Избери десерт</label>
                <select asp-for="@Model.DessertsId" class="form-control">
                    <option value="">-- Избери десерт --</option>
                    @foreach (Dessert dessert in Model.Desserts)
                    {
                         <option value="@dessert.Id">@dessert.Name</option>
                    }
                </select>
                <span asp-validation-for="DessertsId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Добави" />
            </div>
        </form>
        <div class="mb-3">
               <a class="btn btn-outline-success" asp-area="" asp-controller="Meal" asp-action="AllSoups" asp-route-schoolId="@Model.SchoolId">Виж супи</a>
               <a class="btn btn-outline-warning" asp-area="" asp-controller="Meal" asp-action="AllMainDishes" asp-route-schoolId="@Model.SchoolId">Виж основни ястия</a>
               <a class="btn btn-outline-danger" asp-area="" asp-controller="Meal" asp-action="AllDesserts" asp-route-schoolId="@Model.SchoolId">Виж десерти</a>
        </div>
    </div>
    
</div>


@section Scripts {
                <partial name="_ValidationScriptsPartial" />
}
