@model IEnumerable<ChildViewModel>

@{
    ViewBag.Title = "Лист с децата в училище";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var child in Model)
    {
        <div class="card col-4" style="width: 20rem; margin-right: 7px; margin-bottom: 7px; background-color: honeydew">
            <div class="image-content" style="padding: 15px">
                <div class="card-image">
                    <img src="~/images/ben-white-qDY9ahp0Mto-unsplash.jpg" alt="" class="card-img" style="padding: 2px">
                </div>
            </div>
            <div class="card-body" style="padding: 10px">
                
                <h5 class="card-title mt-1" style="color: darkgreen">@child.FirstName @child.LastName</h5>
                @if (@child.MonthsOld != 0)
                {
                    <p class="mb-2" style="color: darkviolet">Години: @child.YearsOld години и @child.MonthsOld месеца</p>
                }
                else
                {
                    <p class="mb-2" style="color: darkviolet">Години: @child.YearsOld</p>
                }
                <p class="mb-0" style="color: coral">Училище: @child.School</p>
                <p class="mb-0" style="color: darkblue">Клас в училище: @child.YearInSchool</p>
            </div>
            <div class="mb-3">
                <a asp-controller="DailyMenu" asp-action="All" asp-route-childId="@child.Id" class="fs-6 btn btn-outline-primary mb-3 p-2">Виж избрано меню</a>
            </div>
        </div>
    }
</div>