@model AddChildViewModel

@{
    ViewBag.Title = Localizer[LayoutTitleName];
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Child" asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.FirstName" class="form-label">@Localizer[Name]</label>
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label">@Localizer[LastName]</label>
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.RelationToChild" class="form-label">@Localizer[RelationToCild]</label>
                <input asp-for="@Model.RelationToChild" class="form-control" aria-required="true" />
                <span asp-validation-for="RelationToChild" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Birthday" class="form-label">@Localizer[Birthday]</label>
                <input asp-for="@Model.Birthday" type="date" min="1997-01-01" max="2030-12-31" class="form-control" aria-required="true" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.SchoolUserId" class="form-label">@Localizer[School]</label>

                <select asp-for="@Model.SchoolUserId" class="form-control">
                    <option value="">-- @Localizer[ChooseSchool] --</option>
                    @foreach (SchoolUser school in Model.Schools)
                    {
                        <option value="@school.Id">@school.SchoolName</option>
                    }
                </select>
                <span asp-validation-for="SchoolUserId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.YearInSchool" class="form-label">@Localizer[YearInSchool]</label>
                <input asp-for="@Model.YearInSchool" class="form-control" aria-required="true" />
                <span asp-validation-for="YearInSchool" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="@Localizer[Add]" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
