@model AddChildViewModel

@{
    ViewBag.Title = "Добави дете";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.FirstName" class="form-label">Име</label>
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label">Фамилия</label>
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.RelationToChild" class="form-label">Връзката ви с детето</label>
                <input asp-for="@Model.RelationToChild" class="form-control" aria-required="true" />
                <span asp-validation-for="RelationToChild" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Birthday" class="form-label">Дата на раждане</label>
                <input asp-for="@Model.Birthday" type="date" name="date" value="" min="1997-01-01" max="2030-12-31" class="form-control" aria-required="true" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.SchoolId" class="form-label">Училищe</label>

                <select asp-for="@Model.SchoolId" class="form-control">
                    <option value="">-- Избери училище --</option>
                    @foreach (SchoolUser school in Model.Schools)
                    {
                        <option value="@school.Id">@school.SchoolName</option>
                    }
                </select>
                <span asp-validation-for="SchoolId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Добави" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
