@model IEnumerable<ChildViewModel>

@{
    ViewBag.Title = "Мойте деца";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var child in Model)
    {
            <div class="card col-4" style="width: 20rem; ">
                <div class="card-body">

                    <h5 class="card-title mt-1">@child.FirstName @child.LastName</h5>
                    <p class="mb-0">Години: @child.Age</p>
                    <p class="mb-0">Училище: @child.School</p>
                </div>

                <form class="input-group-sm" asp-controller="Child" asp-action="Edit" asp-route-bookId="@child.Id">
                    <input type="submit" value="Промени" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            </div>
    }
</div>