@model AddMainDishViewModel

@{
    ViewBag.Title = "Добави ястие";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Meal" asp-action="AddMainDish" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Име/вид на ястието</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Описание</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Ingredients" class="form-label">Съставки</label>
                <textarea asp-for="@Model.Ingredients" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">Линк към снимка на ястието</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Allergens" class="form-label">Алергени</label>
                <textarea asp-for="@Model.Allergens" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Allergens" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Добави ястие" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
            <partial name="_ValidationScriptsPartial" />
}

