@model EditDessertViewModel

@{
    ViewBag.Title = Localizer[LayoutTitleName];
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Meal" asp-action="EditDessert" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">@Localizer[Name]</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">@Localizer[Description]</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Ingredients" class="form-label">@Localizer[Ingredients]</label>
                <textarea asp-for="@Model.Ingredients" class="form-control" aria-required="true" rows="3"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">@Localizer[ImageUrl]</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Allergens" class="form-label">@Localizer[Allergens]</label>
                <textarea asp-for="@Model.Allergens" class="form-control" aria-required="true" rows="3"></textarea>
                <span asp-validation-for="Allergens" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-outline-primary" type="submit" value="@Localizer[Confirm]" />
            </div>
        </form>
        <form asp-controller="Meal" asp-action="DeleteDessert" asp-route-dessertId="@Model.Id">
            <div>
                <input type="submit" onclick="myConfirm(event)" value="@Localizer[Delete]" class="btn btn-outline-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DeleteScriptPartial" />
}

