<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolMealsOrderingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolMealsOrderingSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> 

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: lightgreen">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Система за поръчки на училищен обяд</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated && User.IsInRole(Parent))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Child" asp-action="All">Мойте деца</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Child" asp-action="Add">Добави дете</a>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole(School))
                        {
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="AllChildrenInSchool">Децата в училище</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Meal" asp-action="AddMealsToSchoolList">Избери седмично меню</a>
                            </li>
                                <li>
                                <div class="subnav">
                                  <button class="subnavbtn">Добави ястие <i class="fa fa-caret-down"></i></button>
                                  <div class="subnav-content">
                                    <a href="@Url.Action("AddSoup", "Meal")">Добави супа</a>
                                    <a href="@Url.Action("AddMainDish", "Meal")">Добави основно ястие</a>
                                    <a href="@Url.Action("AddDessert", "Meal")">Добави десерт</a>
                                  </div>
                                </div>
                            </li>
                            <li>
                                <div class="subnav">
                                  <button class="subnavbtn">Всички ястия<i class="fa fa-caret-down"></i></button>
                                  <div class="subnav-content">
                                    <a href="@Url.Action("AllSoups", "Meal")">Супи</a>
                                    <a href="@Url.Action("AllMainDishes", "Meal")">Основни ястия</a>
                                    <a href="@Url.Action("AllDesserts", "Meal")">Десерти</a>
                                  </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color: blue">
            &copy; 2022 - @DateTime.UtcNow.Year - SchoolMealsOrderingSystem
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
