<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolMealsOrderingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolMealsOrderingSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> 

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: lightgreen">
            <div class="container-fluid">
                @if (User.Identity.IsAuthenticated && User.IsInRole(Parent))
                {
                     <a class="navbar-brand" asp-area="Parent" asp-controller="Home" asp-action="Index">@Localizer["index"]</a>
                }
                else 
                @if (User.Identity.IsAuthenticated && User.IsInRole(School))
                {
                    <a class="navbar-brand" asp-area="School" asp-controller="Home" asp-action="Index">@Localizer["index"]</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["index"]</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated && User.IsInRole(Parent))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Child" asp-action="All">@Localizer["children"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Child" asp-action="Add">@Localizer["addChild"]</a>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole(School))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="AllChildrenInSchool">@Localizer["childrenInSchool"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Meal" asp-action="AddMealsToSchoolList">@Localizer["chooseWeeklyMenu"]</a>
                            </li>
                                <li>
                                <div class="subnav">
                                  <button class="subnavbtn">@Localizer["addDish"]<i class="fa fa-caret-down"></i></button>
                                  <div class="subnav-content">
                                        <a href="@Url.Action("AddSoup", "Meal")">@Localizer["addSoup"]</a>
                                        <a href="@Url.Action("AddMainDish", "Meal")">@Localizer["addMainDish"]</a>
                                        <a href="@Url.Action("AddDessert", "Meal")">@Localizer["addDessert"]</a>
                                  </div>
                                </div>
                            </li>
                            <li>
                                <div class="subnav">
                                    <button class="subnavbtn">@Localizer["allMeals"]<i class="fa fa-caret-down"></i></button>
                                  <div class="subnav-content">
                                        <a href="@Url.Action("AllSoups", "Meal")">@Localizer["soups"]</a>
                                        <a href="@Url.Action("AllMainDishes", "Meal")">@Localizer["mainDishes"]</a>
                                        <a href="@Url.Action("AllDesserts", "Meal")">@Localizer["desserts"]</a>
                                  </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["home"]</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Thread.CurrentThread.CurrentUICulture.Name
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Lang/ChangeLanguage?culture=bg">Bg</a></li>
                                <li><a class="dropdown-item" href="/Lang/ChangeLanguage?culture=en">En</a></li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color: blue">
            &copy; 2022 - @DateTime.UtcNow.Year - SchoolMealsOrderingSystem
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
