@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav align-items-center">


    <li class="nav-item dropdown">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Localizer[LayoutChooseLangString]
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Lang/ChangeLanguage?culture=bg">@Localizer[LayoutBulgarianLangString]</a>
            <a class="dropdown-item" href="/Lang/ChangeLanguage?culture=en">@Localizer[LayoutEnglishLangString]</a>
        </div>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">

            <div class="btn-group" role="group" aria-label="Basic example">
                @if (User.Identity.IsAuthenticated && User.IsInRole(Parent))
                {
                    <form class="d-flex" asp-area="Parent" asp-controller="ParentUser" method="get" asp-action="EditParentProfile" asp-route-id="@UserManager.GetUserId(User)">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">@Localizer[LoginPartialProfile]</button>
                    </form>
                }
                else
                {
                    <form class="d-flex" asp-area="School" asp-controller="SchoolUser" method="get" asp-action="EditSchoolProfile" asp-route-id="@UserManager.GetUserId(User)">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">@User.Identity?.Name!</button>
                    </form>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole(Parent))
                {
                    <form class="d-flex" asp-area="Parent" asp-controller="ParentUser" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">@Localizer[LoginPartialLogout]</button>
                    </form>
                }
                else
                {
                    <form class="d-flex" asp-area="School" asp-controller="SchoolUser" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">@Localizer[LoginPartialLogout]</button>
                    </form>
                }

            </div>
        </li>
    }
    else
    {

        <li class="nav-item">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-info" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer[LoginPartialSignUp]
                </button>
                <div class="dropdown-menu">
                    <form class="dropdown-item" asp-area="Parent" method="get" asp-controller="ParentUser" asp-action="Register">
                        <button class="btn btn-outline-primary" type="submit">@Localizer[LoginPartialSignUpForParents]</button>
                    </form>
                    <form class="dropdown-item" asp-area="School" method="get" asp-controller="SchoolUser" asp-action="Register">
                        <button class="btn btn-outline-success" type="submit">@Localizer[LoginPartialSignUpForSchools]</button>
                    </form>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Localizer[LoginPartialLogin]
                    </button>
                    <div class="dropdown-menu">
                        <form class="dropdown-item" asp-area="Parent" method="get" asp-controller="ParentUser" asp-action="Login">
                            <button class="btn btn-outline-dark" type="submit">@Localizer[LoginPartialForParents]</button>
                        </form>
                        <form class="dropdown-item" asp-area="School" method="get" asp-controller="SchoolUser" asp-action="Login">
                            <button class="btn btn-outline-warning" type="submit">@Localizer[LoginPartialForSchools]</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>

